@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #ffffff;
  --background-dark: #1a1a1a;
  --foreground-light: #171717;
  --foreground-dark: #ededed;
}

/* Variables para light mode */
:root {
  --background: var(--background-light);
  --foreground: var(--foreground-light);
}

/* Variables para dark mode */
.dark {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
}

/* Aplicar colores dinámicos */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  @apply transition-colors duration-300; /* Transición suave */
}

